name = "HapLink"
uuid = "8ca39d33-de0d-4205-9b21-13a80f2b7eed"
authors = ["Thomas A. Christensen II, Kansas State University, and contributors"]
version = "0.4.1"

[deps]
ArgParse = "c7e460c6-2fb9-53a9-8c5b-16f535851c63"
BioAlignments = "00701ae9-d1dc-5365-b64a-a3a3ebf5695e"
BioSequences = "7e6ae17a-c86d-528c-b3b9-7f778a29fe59"
BioSymbols = "3c28c6f8-a34d-59c4-9654-267d177fcfa9"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
FASTX = "c2308a5c-f048-11e8-3e8a-31650f418d12"
FilePaths = "8fc22ac5-c921-52a6-82fd-178b2807b824"
HypothesisTests = "09f84164-cd44-5f33-b23f-e6b0d136a0d5"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
SHA = "ea8e919c-243c-51af-8825-aaa63cd721ce"
XAM = "d759349c-bcba-11e9-07c2-5b90f8f05f7c"
YAML = "ddb6d928-2868-570f-bddf-ab3f9cf99eb6"

[compat]
ArgParse = "1"
BioAlignments = "2"
BioSequences = "2"
BioSymbols = "4"
Combinatorics = "1"
DataFrames = "1"
Distributions = "0.25"
FASTX = "1.2"
FilePaths = "0.8"
HypothesisTests = "0.10"
OrderedCollections = "1.4"
XAM = "0.2"
YAML = "0.4"
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"

[targets]
test = ["Test", "Documenter"]
